@font-face {
    font-family: Poppins-Regular;
    src: url("assets/fonts/Poppins-Regular") format('truetype');
}
body{
    background-color:lightgray;
    font-family: Poppins-Regular,sans-serif;
}
.title{
    display: flex;
    justify-content:start;
    border-bottom: 2px solid gray;
}
.something{
    padding :10px;
}
.contact{
    padding: 10px;
}

.container{
    display: flex;
    font-size: large;
    margin-top: 10px;
}
.inputC{
    margin-bottom: 5px;
    margin-top: 5px;
    height: 150px;
    width: 350px;
    
}
.inputF{
    margin-bottom:5px ;
    margin-top: 5px;
    height: 150px;
    width: 350px;
}
.button{
    display: flex;
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: 5px;
}
.convert{
    margin-right: 5px;
    padding: 2px;
}
.reset{
    margin-right: 5px;
    padding: 2px;
}
.reverse{
    padding: 2px;
}
.cara{
    height: 150px;
    width: 350px;
    margin-top: 5px;
    
}
.ftoc{
    display: flex;
    color: rebeccapurple;
    margin-top: 5px;
    margin-bottom: 5px;

}
.mid{
    display: flex;
    border-bottom: 2px solid grey;
    padding-bottom: 15px;
    margin-bottom: 15px;
}


